
{# -*- engine: django -*- #}

{% extends "pages/base/base.html" %}
{% load static %}
{% block header_styles %}
<link href="/static/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <main class="login-form col-lg col-xl h-100">
            <div class="row flex-column flex-nowrap align-items-center justify-content-center h-100">
                <div class="sparrow-logo {{ class }}">
		  <img src="{% static 'images/sparrow-logo.png' %}" height="60" width="60" />
		  <span class="logo-sparrow">Sparrow</span>
		</div>
                {% block content %}{% endblock %}
            </div>
        </main>

        <div class="col-xl hero-image-container" />
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
