<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sparrow & IDEO Collaboration </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- og stuff -->
  <meta property="og:site_name" content="Sparrow"/>
  <meta property="og:title" content="Inclusive Workspaces: Mother's Room on a Budget"/>
  <meta property="og:description" content="For new moms, returning to work can be a challenge.  Luckily, the state of California requires every employer provide.."/>
  <meta property="og:image" content="https://trysparrow.com/static/home/images/unsplash/mothers-room/mothers-room-bottle.jpeg"/>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@trySparrowHQ"/>
  <meta name="twitter:title" content="Inclusive Workspaces: How to build a Mother's Room on a Budget"/>
  <meta name="twitter:description" content="For new moms, returning to work can be a challenge.  Luckily, the state of California requires every employer provide.." />
  <meta name="twitter:image" content="https://trysparrow.com/static/home/images/unsplash/mothers-room/mothers-room-bottle.jpeg" />


  {% load static %}
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="{% static "home/images/favicon.ico" %}">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static "home/dist/theme.min.css" %}" />

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{% static "home/dist/theme.min.js" %}"></script>
</head>
<body>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" role="navigation">
      <div class="container no-override">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'home/images/logo.png' %}" class="d-none d-lg-inline mr-2 w-25" />
          Sparrow
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="{% url 'index' %}#product" class="nav-link">
                Product
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'index' %}#signup" class="nav-link">
                Try Sparrow
              </a>
            </li>
	   <li class="nav-item">
              <a href="{% url 'blog' %}" class="nav-link">
                Blog
              </a>
            </li>
           <!--  <li class="nav-item"> -->
  <!--             <a class="nav-link" href="careers.html"> -->
  <!-- 	      Careers -->
  <!-- 	    </a> -->
  <!--           </li> -->
          </ul>
        </div>
      </div>
    </nav>

  <div class="blog-post-3-hero" style="background-image: url({% static 'home/images/unsplash/mothers-room/mothers-room-example.jpeg' %});">
    <div class="container">
      <h1 class="customFadeInUp mx-auto">
        Inclusive Workspaces: How to Build a Mother's Room on a Budget
      </h1>
    </div>
  </div>


  <div class="blog-post-3">
    <div class="container">
      <div class="blog-post-header">
        <div class="blog-post-author">
          <img src="{% static 'home/images/unsplash/author-antonio.jpg' %}">
          <img class="top" src="{% static 'home/images/unsplash/author-krystal.jpg' %}">
          <head><style>.top {
            position: absolute;
            right: 10px;
            top: 99px;
            z-index: 1;
           }
          </style></head>
          By <span> Antonio Rowry, Krystal Elkhoury</span>
        </div>
        <div class="blog-post-date">
          Date <span>15 April 2019</span>
        </div>
        <div class="blog-post-share">
          Share this post:
          <a href="http://twitter.com/share?text=Learn%20how%20to%20build%20a%20mothers%20room&url=https://trysparrow.com/blog/mothers-room">
            <i class="ion-social-twitter"></i>
          </a>

          <a href="http://www.facebook.com/sharer.php?u=https://trysparrow.com/blog/mothers-room">
            <i class="ion-social-facebook"></i>
          </a>
        </div>
      </div>

      <div class="blog-post-content">
        For new moms, returning to work can be a challenge.  Luckily, the state of California requires every employer provide a reasonable amount of break time to accommodate a nursing mother, and a room (often called a lactation room or a mother’s room) dedicated for a new mom’s privacy and comfort.

        While this law only targets larger companies, having a designated lactation room doesn't only benefit nursing moms, but also brings great advantages to all employers.

        <h2>Benefits of Providing a Mother's Room</h2>
        Providing a mother's room in the workplace keeps both the mother and baby happy and healthy! For employers, this means that nursing moms with access to these rooms are more productive in their work and take fewer leaves of absence. Not only that, but providing for your employee’s needs, shows your support and creates a stronger bond between the company and your employees.

        <h2>A Mother's Room Can Be Affordable</h2>

        Good news for startups and small businesses on a tight budget here are simple, cost-effective solutions for you to help new moms transition back to work. In fact, there are several ways to offer a decent mother’s room without going over budget.

        <h2>How to Repurpose a Room in Your Office</h2>

        If you don’t have an empty room that can be turned into a mother’s room, you can creatively convert another space into a private room. Even a private conference room can be designed and repurposed to make it a functionally relaxing space, comfortable for moms. The American Institute of Architects suggests that a 50-square-foot room can meet accessibility guidelines if it accommodates a 5-foot turning radius.

        <h2>Mothers Room Minimum Recommendations from the US Breastfeeding Committee:</h2>
        <ul style="list-style-type:circle;">
          <li>Table or a flat surface </li>
          <li>Chair </li>
          <li>Mini-refrigerator </li>
          <li>Electrical outlet </li>
          <li>Sink</li>
          <li>A solid door lock with an occupancy indicator.</li>
        </ul>

        The tabletop or working surface should be at least 24 inches deep to accommodate bottles and pumping equipment. Other affordable furnishings can include curtains or a partition to provide privacy. These items can total between only $500-$2500 if you’re repurposing a room that already includes these essentials!

        <h2>Adding Upgraded Amenities for Larger Budgets</h2>

        If you have a more substantial budget, room essentials can include all of the above along with:

        <ul style="list-style-type:circle;">
          <li>A supportive and adjustable task chair</li>
          <li>A deep sink for washing bottles and pump parts </li>
          <li>Adequate storage space </li>
          <li>Uniform ambient lighting </li>
          <li>Fabric wall panels which help to reduce echoes and create a calming environment </li>
          <li>A scheduling system or communication board outside the door to facilitate efficient use of the room </li>
        </ul>

        These additions to a repurposed room can cost anywhere between $5,000 and $10,000.

        In the end, one of the best ways that companies can attract the best and brightest candidates is to show how they can provide for their employees and their needs. It’s no secret that happy employees are healthier, more productive, and more likely to be invested in their work. All it takes is a repurposed room and a few hundred dollars for companies to show their support and dedication to an inclusive workplace.

        <h2>About Sparrow</h2>
        Sparrow handles all leave-related paperwork, acts as the employee’s guide throughout the process, and helps to ease the transition as employees prepare to go on leave, and as they prepare to return to work. We provide software and a dedicated concierge for you and your employees. We cover: short term disability paperwork, legal matters, salary verification and more. Whether your company has 5 employees or 50K, SPARROW saves your team time (20-40 hrs/leave), money (up to $20K/leave), and headache.


        <h2>Sources:</h2>

        <br>What the Law says about Breastfeeding and Work - <a href="https://www.womenshealth.gov/supporting-nursing-moms-work/what-law-says-about-breastfeeding-and-work">womenshealth.gov</a></br>
        <br>What Employers Need to Know - <a href="https://www.womenshealth.gov/supporting-nursing-moms-work/what-law-says-about-breastfeeding-and-work/what-employers-need-know">womenshealth.gov</a></br>
        <br>Working Mothers, Breastfeeding, and the Law - <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3020209/">ncbi.nlm.nih.gov</a></br>
        <br>The 18 Most Impressive Company Lactation Lounges in the U.S. - <a href="https://www.workingmother.com/most-impressive-company-lactation-lounges-in-us#page-18">workingmother.com</a></br>


          <h2 align="center"> Connect with Us!</h2>

          <!-- Start Social Media Buttons -->
          <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
            .fa {
              padding: 20px;
              font-size: 30px;
              width: 60px;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
            }

            .fa:hover {
                opacity: 0.5;
            }

            .fa {
              padding: 12px;
              font-size: 20px;
              width: 45px;
              text-align: center;
              text-decoration: none;
              border-radius: 50%;
}

            .fa-facebook {
              background: #3B5998;
              color: white;
            }

            .fa-twitter {
              background: #55ACEE;
              color: white;
            }
            .fa-linkedin {
              background: #007bb5;
              color: white;
            }
            .fa-envelope {
              background: #3B5998;
              color: white;
            }
          </style>
</head>



<center>

  <!-- Add font awesome icons -->
  <a href="https://www.facebook.com/TrySparrowHQ/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/trySparrowHQ" class="fa fa-twitter"></a>
  <a href="https://www.linkedin.com/company/trysparrow/" class="fa fa-linkedin"></a>
  <a href="https://trysparrow.com/#signup" class="fa fa-envelope"></a>
</center>

          <!-- End Social Media  -->
         <!-- <p>We’ll be pushing out updates via all of the standard social channels. Please join us on whatever medium you’d like to receive updates:</p>

           <p>Subscribe to our Mailing List </p>
            <p>Follow us on LinkedIn</p>
            <p>Follow us on Twitter</p>
            <p>Follow us on Facebook </p> -->
        <!-- <p></p>
        <p></p>
        <p></p> -->
          </div>

      </div>
    </div>
  </div>

  <footer id="signup" class="footer-signup" id="footer">
    <div class="container">
	<h3>
          Want to learn how Sparrow can <br/>
	  transform your leave experience?
	</h3>
	<p>
          Get in touch!
	</p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
	<form role="form" action="https://trysparrow.us18.list-manage.com/subscribe/post?u=4c7d449985520c75071e5cfa3&amp;id=859e073451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  <div id="mc_embed_signup_scroll">
	    <div class="mc-field-group form-group">
	      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email">
	    </div>
	    <div class="mc-field-group form-group">
	      <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name">
	    </div>
	    <div class="mc-field-group form-group">
	      <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name">
	    </div>
	    <div class="mc-field-group form-group">
	      <input type="text" value="" name="COMPANY" class="form-control" id="mce-COMPANY" placeholder="Company">
	    </div>
	    <div id="mce-responses" class="clear">
	      <div class="response" id="mce-error-response" style="display:none"></div>
	      <div class="response" id="mce-success-response" style="display:none"></div>
	    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4c7d449985520c75071e5cfa3_859e073451" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Try Sparrow" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
	  </div>
	</form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='COMPANY';ftypes[6]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
  </footer>
  <!-- <div class="blog-post-3-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="story story--left">
            <h3>
              Hiking in the Himalayas for a month
            </h3>
            <p>
              Pick the pages that describe your business the best and improve your users experience.
            </p>
            <a href="#">
              <i class="ion-ios-arrow-thin-left"></i>
              Previous story
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="story story--right">
            <h3>
              The best cultures around the world
            </h3>
            <p>
              Pick the pages that describe your business the best and improve your users experience.
            </p>
            <a href="#">
              Next story
              <i class="ion-ios-arrow-thin-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="bottom-menu">
      <div class="container">
        <span class="copyright">
          &copy;
          2019 - Spacial Theme
        </span>
        <div class="links">
          <a href="intro.html">Intro page</a>
          <a href="index.html">Business demo</a>
          <a href="agency.html">Agency demo</a>
          <a href="ecommerce/index.html">Ecommerce demo</a>
        </div>
      </div> -->
      <div class="footer-light">
          <div class="container">
            <span>
              © Sparrow 2019
            </span>
            <a href="#product">Product</a>
            <a href="#team">Team</a>
      <!--       <a href="careers.html">Careers</a> -->
          </div>
        </div>
    </div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    // e.src='//www.google-analytics.com/analytics.js';
    // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
</body>
</html>
